* {
    font-family: sans-serif;
  }

  .content-table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .content-table thead tr {
    background-color: #bf24e0b3;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    height: 55px;
  }

  .content-table th {
    height: 20px;
    text-align: center;
  }
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }

  tr {
    cursor: pointer;
  }
  td {
    cursor: pointer;
  }

  .content-table tbody tr {
    background: #4d5a7778;
    border-bottom: 2px solid #dddddd;
    color: white;
  }

  .content-table tbody tr:nth-of-type(even) {
    background-color: #4d5a7778;
    user-select: none;
  }

  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    user-select: none;
  }

  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #1dd03bcf;
  }
